@charset "UTF-8";

/* 課題06のCSS
========================================================================== */
* {
    box-sizing:border-box; 
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
    height:auto;
}

li {
    margin-left: 40px;
}

li a {
    color: #000;
}

ul {
    display: flex;
}

nav {
    margin-left: auto;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
}

.relative {
    position: relative;
}

.box {
    position: absolute;
    margin       : auto;
    width        : 50%;
    height       : 15%;
    background   : rgba(255, 127, 0, 0.55);
    top: 10%;
    left: 25%;
}

/* header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.button {
    background-color: #FD6F00;
    color: #fff;
    padding: 0 20px;
    border-radius: 5px;
}

/* introduce */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.col-md-6 p {
    padding: 1rem 0;
}

.content-center {
    text-align: center;
}

.hire {
    text-align: center;
}

.hire a {
    background-color: #FD6F00;
    color: #fff;
    border-radius: 5px;
    width: 7rem;
    padding: 0.5rem;
}

.person {
    margin: 0 0 2rem 0;
}

/* Services */
section:nth-child(3) figure {
    background-color: #F8F8F8;
    padding: 2rem 2rem 2rem 1rem;
    border-radius: 5px;
    margin: 0 1rem 2rem 2rem;
}

/* My Projects */
.row2 {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.button1 {
    display: inline-block;
    margin: 0 15px;
    background-color: #F8F8F8;
    color: #000;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

.button2 {
    background-color: #FD6F00;
    color: #fff;
    padding: 0 20px;
    border-radius: 5px;
    display: inline-block;
    margin:0 15px;
}

section:last-child figure p {
    padding: 1rem 0 0 0;
    color: #FD6F00;
}

/* footer */
footer {
    background-color: #F8F8F8;
    text-align:center;
    padding: 5rem 0;
}

footer nav ul {
    justify-content: center;
    padding: 5rem 0;
}

/* copyright */
.copyright {
    text-align: center;
    padding: 1rem 0;
    background-color: #545454;
    color: #FFFFFF;
}

.copyright span {
    color: #FD6F00;
}

/* responsive */
@media (min-width: 420px) {
    .col-md-6 {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media (max-width: 420px) {
    /* nav barを非表示 */
    #navi {
        display: none;
    }

    .row {
        flex-direction: column;
    }

    .intro {
        padding: 0 0 3rem 0;
    }

    .hire {
        display:flex;
        justify-content:center;
        padding: 1rem 0 2rem 0;
    }

    .hire a {
        width: 24rem;
        padding: 1rem 0;
    }

    .reverse {
        order: 2;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    .pb-3 {
        padding-bottom: 3rem;
    }

    .pt-3 {
        padding-top: 3rem;
    }

    .row2 {
        flex-wrap: wrap;
        gap: 8px 0px;
        padding: 1.5rem 0;
    }

    .pt-0 {
        padding-top: 0;
    }

    h4 {
        margin: 0;
        padding: 0.5rem 0;
    }

    footer {
        padding: 5rem 0 2.5rem 0;
    }

    footer nav ul {
        flex-wrap: wrap;
        gap: 6px 0px;
        padding: 2rem 0;
    }
}